<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.net.test.scripts.TestCheckOutAsGuest_CreditCard</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyOrderReviewPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyProductNameInshoppingCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shippingMethodValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillCreditCardDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyTitleInShoppingCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>payment_submitButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>continueShoppingMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckoutPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateBillingInfoPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectShoppingMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectPaymentTeamsAndCondition</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyConfirmationMail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySelectPaymentMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyBillingInfoPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyBillingInfoConButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyTotalTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyContinueShopping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyProductPriceInshoppingCartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addProductIntoCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyConfirmationPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyProceedToCheckoutButton</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stopSelenium</td>
<td>&nbsp;</td></tr>
</table>
