<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70dc7d">  <td>16/09/28 09:53:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCheckOutAsGuest_CreditCard.addProductIntoCart()[pri:0, instance:com.net.test.scripts.TestCheckOutAsGuest_CreditCard@687ae145]">addProductIntoCart</td> 
  <td>main@1275152355</td>   <td></td> </tr>
<tr bgcolor="70dc7d">  <td>16/09/28 09:53:09</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCheckOutAsGuest_CreditCard.setUp()[pri:0, instance:com.net.test.scripts.TestCheckOutAsGuest_CreditCard@687ae145]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1275152355</td>   <td></td> </tr>
<tr bgcolor="70dc7d">  <td>16/09/28 09:53:09</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCheckOutAsGuest_CreditCard.verifyTotalTime()[pri:0, instance:com.net.test.scripts.TestCheckOutAsGuest_CreditCard@687ae145]">verifyTotalTime</td> 
  <td>main@1275152355</td>   <td></td> </tr>
</table>
