<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.net.test.scripts.TestHomePage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>homePageMagentoProfilerResults</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stopSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.net.test.scripts.TestUserCreation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTotalTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCompareEmailAndconfirmEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFieldValidationWithoutPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPrivacyPolicyLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPostcodeValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAccountDashboard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmailValidation2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyTermsConditionsLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidationMsgInBirthdayMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToRegister</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidationMsgInBirthdayDay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFieldValidationWithoutlastname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyuserRegisterPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFieldValidationWithoutData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>userCreationMagentoProfilerResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPasswordValidation2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPasswordValidation1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNewUserCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCratreAlreadyExistsUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFieldValidationWithoutConfirmation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidationMsgInBirthdayYear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserRegisterPageResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyConfirmationEmailValidation2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyConfirmationEmailValidation1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFieldValidationWithoutEmail_address</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFieldValidationWithoutFirstname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifydisplayLogOutLink</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stopSelenium</td>
<td>&nbsp;</td></tr>
</table>
