<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NTAF</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad8b8f">  <td>16/12/09 10:53:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHomePage.homePageMagentoProfilerResults()[pri:0, instance:com.net.test.scripts.TestHomePage@a9cd3b1]">homePageMagentoProfilerResults</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 11:16:07</td>   <td>1340049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUserCreation.navigateToRegister()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">navigateToRegister</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="ad8b8f">  <td>16/12/09 10:53:30</td>   <td>-16945</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestHomePage.setUp(java.lang.String)[pri:0, instance:com.net.test.scripts.TestHomePage@a9cd3b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 10:53:53</td>   <td>6200</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestUserCreation.setUp()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="ad8b8f">  <td>16/12/09 10:53:47</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestHomePage.stopSelenium()[pri:0, instance:com.net.test.scripts.TestHomePage@a9cd3b1]">&lt;&lt;stopSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 11:16:19</td>   <td>1352447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUserCreation.stopSelenium()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">&lt;&lt;stopSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 10:54:47</td>   <td>59669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUserCreation.userCreationMagentoProfilerResults()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">userCreationMagentoProfilerResults</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 10:55:20</td>   <td>93311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUserCreation.verifyNewUserCreation()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">verifyNewUserCreation</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 11:16:19</td>   <td>1351886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUserCreation.verifyTotalTime()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">verifyTotalTime</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 10:55:02</td>   <td>75087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUserCreation.verifyUserRegisterPageResults()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">verifyUserRegisterPageResults</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="63bba0">  <td>16/12/09 10:54:09</td>   <td>22458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUserCreation.verifyuserRegisterPage()[pri:0, instance:com.net.test.scripts.TestUserCreation@1817d444]">verifyuserRegisterPage</td> 
  <td>main@854587510</td>   <td></td> </tr>
</table>
